<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Esqueci Minha Senha</title>
		<link type="text/css" rel="stylesheet" href="default_style.css" />
		<script type="text/javascript" src="forgotpassword.js"></script>
		<script type="text/javascript" src="masks.js"></script>
	</head>
 
	<body>
		<%= include static/page_header.html %>
		<div class="body_frame">
			<h1>Esqueci minha senha</h1>
			<form id="form" name="form" action="doRetrievePassword" method="post">
				<table width="625" style="margin-top: 20px; margin-left: 100px;">
					<tr>
				      <td width="69" align="right">Login:</td>
				      <td width="400"><input name="login" type="text" id="login" /></td>
				    </tr>
				    <tr>
				      <td width="69" align="right">Email:</td>
				      <td width="400"><input name="email" type="text" id="email" size="70" /></td>
				    </tr>
				    
				    <tr><td />
				    <td>
						<input name="submit" type="button" id="submit" value="Enviar" onclick="validateFields()" />
						<input name="clear" type="reset" id="clear" value="Limpar Campos preenchidos" />
						
				        <p style="color: red; font-size: 12px;">
				        	Todos os campos são obrigatórios<br/>
				        </p>
				   	</td>
				    </tr>
				</table>
			</form>
		</div>
		<%= include static/page_footer.html %>
	</body>
</html>