<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Não permitido</title>
	<link href='default_style.css' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="main_frame">
		<%= include page_header.html %>
		<div class="body_frame">
			<!-- CONTEUDO APENAS ABAIXO DESDE COMENTARIO -->
			
			<h1>Ação não permitida</h1>
			<p>Desculpe, você não tem permissão para executar a ação solicitada.</p>
			<a href="/">Voltar à página inicial</a>

			<!-- CONTEUDO APENAS ACIMA DESTE COMENTARIO -->  
		</div>
		<%= include page_footer.html %>
	</div>
</body>
</html>